* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

.hero {
    background: linear-gradient(135deg,#111,#333);
    color: white;
    text-align: center;
    padding: 70px 20px;
}

.btn {
    display: inline-block;
    background: #25D366;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

nav {
    background: #222;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 20px;
    margin-top: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
}


.produk img {
    width: 100%;
    border-radius: 5px;
}

button {
    background: #25D366;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

form {
    max-width: 400px;
    margin: auto;
}

form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

